@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", "Nunito Sans", "sans-serif";
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
